 <!-- RANDOM COMMENT TO TEST/DELETE -->
 <!-- Hello -->
 <!-- most up to date comment -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Home Page</title>
    <title>Marker Clustering</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/main.css" />


    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- FONT SCRIPT -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

   <!-- Font Awesome Package -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- External JS -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/users.js"></script>
    <script type="module" src="/scripts/app.js"></script>
    <!-- Google Maps script for marker clustering -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- Do I need to put in type="module" here for the gmaps api? -->

  </head>
<!--NEW-MAP-MODAL-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Create New Map</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="map-title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="map-title" >
          </div>
          <div class="form-group">
            <label for="map-description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="map-description"></textarea>
          </div>
           <div class="form-group">
            <label for="image-url" class="col-form-label">Image:</label>
            <input class="form-control" id="image-url"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="map-submit-btn">Submit</button>
      </div>
    </div>
  </div>
</div>
<!---->

<!--PROFILE-MODAL-GRID-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="user-profile-header">Profile</h5>
      </div>
      <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
            </br>
            </br>
            <div class="col-md-3 ml-auto"><img id="profile-user-avatar" src="https://icon-library.com/images/avatar-icon-free/avatar-icon-free-15.jpg" alt="User Avatar Image"></div>
            <div class="col-md-4 ml-auto">Map Ninja</div>
        </div>
        </br>
        </br>
        <div class="row">
          <div class="col-sm-9">
            <div class="row">
              </br>
              <div id="profile-user-footer">
                <div class="col-1"></div>
                <div class="col-5">
                  Favourites Maps
                  <img id="favourites-map-img" src="https://icon-library.com/images/valentine-icon/valentine-icon-17.jpg" alt="Favourites Image">
                </div>
                <div class="col-2"></div>
                <div class="col-1"></div>
                <div class="col-3">
                  My Maps
                  <img id="my-maps-img" src="https://cdn-icons-png.flaticon.com/512/4797/4797387.png" alt="My Maps Image">
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form method="POST"><button action="/my-maps" type="submit" class="btn btn-primary">Submit</button></form>
        </div>
    </div>
  </div>
</div>
<!---->
 <body>
    <div class="layout-container">
         <div class="nav-bar">
           <span class="nav-logo">JNMaps</span>
            <ul class="nav-menu">
              <li><button class="nav-btn1"><i class="fa-solid fa-house"></i></button></li>
              <li><button type="button" class="nav-btn2" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><i class="fa-solid fa-user"></i></button></li>
              <li><button class="nav-btn3"><i class="fa-solid fa-heart"></i></button></li>
            </ul>
          </div>
          <div class="map-whole-div">
           <div class="newMap-btn-div">
            <button type="button" class="newMap-btn" data-toggle="modal" data-target="#exampleModal2" data-whatever="@getbootstrap">Create New Map</button>
            </div>
         <div class="map-main-container">
          <!-- Implement Google search bar -->
          <input
            id="pac-input"
            class="controls"
            type="text"
            placeholder="Search Box"
          />
            <!-- Create a map element for Google Maps -->
              <div id="map"></div>
          </div>
            <!-- Implment map point div  -->
            <section id="maps-wrapper"></section>
            <section id="map-points-container">
              <div class="map-info">
                <div class="map-name">
                      <form action="/" method="POST" id="create-map-form">
                        <div class="map-properties">
                        </div>
                        <div class="points-list">
                          <ul id="points-list-ul"></ul>
                        </div>
                      </form>
                </div>
              </div>
            </section>

          </div>
          <div class="whole-available-map">
          <div class="inline-text">
            <h1>Explore popular cities</h1>
            <span class="subheading">find the top-rated attractions, eats, and activities.</span>
          </div>
         <div class="available-map-container">
          <div class="first-map">
            <div class="first-map-picture"></div>
               <img class="img1" src="https://cdn.britannica.com/71/94371-050-293AE931/Mountains-region-Ten-Peaks-Moraine-Lake-Alberta.jpg">
               <span>Banff</span>
           </div>
           <div class="second-map">
            <div class="second-map-picture"></div>
              <img class="img2" src="https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_360,q_65,w_360/v1/clients/vancouverbc/Stanley_Park_Aerial_2_e7b07092-f98f-406a-953b-c350f9a70402.jpg">
              <span>Vancouver</span>
           </div>
           <div class="third-map">
            <div class="third-map-picture"></div>
                <img class="img3" src="https://www.gostudycanada.com/wp-content/uploads/2021/02/iStock-472209533.jpg">
               <span>Ottawa</span>
           </div>
           <div class="fourth-map">
            <div class="fourth-map-picture"></div>
               <img class="img4" src="https://cdn.britannica.com/93/94493-050-35524FED/Toronto.jpg" alt="Toronto">
               <span>Toronto</span>
           </div>
         </div>
    </div>
  </div>

    <!--SCRIPTS-->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.API_KEY %>&libraries=places&callback=initMap&v=weekly"
        defer
      ></script>
    <!-- <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
    ></script> -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
      <!--CREATE-NEW MAP--GRID-->
    <!-- Custom Script and jQuery goes over here -->
    <script language="javascript">
      // $(document).ready(function(e){
      //   //1. To show the Dialog box for the Creation of new MAP Grid
      //   $('#exampleModal2').on('show.bs.modal', function(event) {
      //     // var button = $(event.relatedTarget); // Button that triggered the modal
      //     // var recipient = button.data('whatever'); // Extract info from data-* attributes
      //     // // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      //     // // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      //     // var modal = $(this);
      //     // modal.find('.modal-title').text('Create New Map ');
      //     // modal.find('.modal-body input').val(recipient);
      //   });
      //   $('#map-submit-btn').on('click', function(e){
      //     //To get all the values from the controls
      //     let map_title =$('#map-title').val();
      //     let map_description =$('#map-description').val();
      //     let image_url = $('#image-url').val();
      //     let user_id = 3;
      //     let sendData = {
      //       map_title: map_title,
      //       map_description: map_description,
      //       image_url: image_url,
      //       user_id: user_id
      //     };
      //     //Ajax Call
      //     $.ajax({
      //       url: "/my-maps",
      //       data: sendData,
      //       type: "POST",
      //       success: function(result){
      //         $.get("/api/maps/10")
      //         .done()
      //       },
      //       error: function (err){
      //         console.log("there was an error", err);
      //       }
      //     })
      //   });
      // });
    </script>
  <!--PROFILE-MODAL-->
   <script>$('#exampleModal').on('show.bs.modal', function(event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var recipient = button.data('whatever'); // Extract info from data-* attributes
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
   $('#myModal').on('hidden.bs.modal', function sendData(data) {
      alert("Hello");
//      return $.ajax({
//          url: "/",
//          type: "POST",
//          data: JSON.stringify(data),
//          contentType: "application/json",
//      });
//  sendData(data)
//      .done(function(response) {
//          console.log(response);
//      })
//      .fail(function(error) {
//          console.error(error);
//      });
   });


  var modal = $(this);
  modal.find('.modal-title').text('Profile ');
  modal.find('.modal-body input').val(recipient);
}); </script>
<script>

</script>
</body>
</html>

 <!--NEW-MAP-MODAL-->
  <!-- // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.-->





