<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/main.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="layout-container">
         <div class="nav-bar">
            <span class="nav-logo">JNMaps</span>
            <ul class="nav-menu">
              <li><button class="nav-btn1">Homepage</button></li>
              <li><button type="submit"class="nav-btn2">Profile</button></li>
              <li><button class="nav-btn3">Favourites</button></li>
            </ul>
          </div>
         <div class="map-whole-div">
          <div class="newMap-btn">
            <button type="submit">Create New Map <span>&#43;</span></button>
          </div>
         <div class="map-main-container">
            <!-- Create a map element for Google Maps -->
           <div id="map">
            <script async
              src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
            </script>
           </div>
          </div>
          </div>


         <div class="available-map-container">
          <div class="first-map"></div>
          <div class="second-map"></div>
          <div class="third-map"></div>
          <div class="four-map"></div>
          <div class="five-map"></div>
         </div>




    </div>
</body>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
