<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <title>Marker Clustering</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- FONT SCRIPT -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">


    <script src="/vendor/jquery-3.0.0.js"></script>
    <script type="module" src="/scripts/app.js"></script>
    <!-- Google Maps script for marker clustering -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- Do I need to put in type="module" here for the gmaps api? -->

  </head>

  <body>
    <div class="layout-container">
         <div class="nav-bar">
           <span class="nav-logo">JNMaps</span>
            <ul class="nav-menu">
              <li><button class="nav-btn1">Homepage</button></li>
              <li><button type="submit"class="nav-btn2">Profile</button></li>
              <li><button class="nav-btn3">Favourites</button></li>
            </ul>
          </div>
          <div class="map-whole-div">
          <div class="newMap-btn">
            <button type="submit">Create New Map <span>&#43;</span></button>
          </div>
         <div class="map-main-container">
            <!-- Create a map element for Google Maps -->
           <div id="map">
           </div>
          </div>
          </div>
          <div class="whole-available-map">
          <div class="inline-text">
            <h1>Explore popular cities</h1>
            <span class="subheading">find the top-rated attractions, eats, and activities.</span>
          </div>
         <div class="available-map-container">
          <div class="first-map">
            <div class="first-map-picture"></div>
               <span class="img1">
                <img src="https://cdn.britannica.com/71/94371-050-293AE931/Mountains-region-Ten-Peaks-Moraine-Lake-Alberta.jpg"></span>
               <span>Banff</span>
           </div>
           <div class="second-map">
            <div class="second-map-picture"></div>
              <span class="img2"><img src="https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_360,q_65,w_360/v1/clients/vancouverbc/Stanley_Park_Aerial_2_e7b07092-f98f-406a-953b-c350f9a70402.jpg"></span>
              <span>Vancouver</span>
           </div>
           <div class="third-map">
            <div class="third-map-picture"></div>
                <span class="img3"><img src="https://www.gostudycanada.com/wp-content/uploads/2021/02/iStock-472209533.jpg"></span>
               <span>Ottawa</span>
           </div>
           <div class="fourth-map">
            <div class="fourth-map-picture"></div>
               <span class="img4"><img src="https://cdn.britannica.com/93/94493-050-35524FED/Toronto.jpg" alt="Toronto"></span>
               <span>Toronto</span>
           </div>
         </div>
    </div>
  </div>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.API_KEY %>&callback=initMap&v=weekly"
        defer
      ></script>
</body>

    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
