body {
  box-sizing: border-box;
}

.layout-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 800px;
  font-family: 'Manrope', sans-serif;
  color: black;
  padding-bottom: 800px;
}
