/* --------Nav Bar Styling------- */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 100px;
  width: 100%;
}

.nav-logo {
  font-family: 'Abril Fatface', cursive;
  color: green;
  padding-left: 2%;
  font-size: 60px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 1;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-btn1,
.nav-btn2,
.nav-btn3 {
  border-color: #0076bd;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.2 ease-in-out;

  &:hover {
    background-color: green;
  }
}

.i {
  color: black;
}

.nav-btn1 {
  padding: 8px 16px;
  border-color: green;
  border-radius: 20px;
  color: #0076bd;
}

.nav-btn2 {
  padding: 8px 16px;
  border-color: green;
  border-radius: 20px;
  color: #0076bd;
}

.nav-btn3 {
  padding: 8px 16px;
  border-color: green;
  border-radius: 20px;
  color: #0076bd;
}




/* --------Map API Styling------- */
#map {
  height: 295px;
  width: 1100px;
  border-radius: 1em;
}

.map-main-container {
  background-color: f2f2ea;
  height: 325px;
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.newMap-btn-div {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.2 ease-in-out;
  display: flex;
  justify-content: right;
}

#newMap-btn{
  border: solid 2px;
  border-color: green;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: transparent;
  color: #0c649b;
  &:hover {
    background-color: green;
  }
}

.whole-available-map{
  font-family: 'Abril Fatface', cursive;
}


/* --------Available Map Styling------- */
.available-map-container {
  background-color: transparent;
  border: solid 3px #0076bd;
  border-radius: 1em;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  padding: 15px;
  margin-top: 10px;
}

.first-map,
.second-map,
.third-map,
.fourth-map {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.first-map-picture,
.second-map-picture,
.third-map-picture,
.fourth-map-picture{
  font-weight: bold;
  padding-top: 10px;
}

.img1,
.img2,
.img3,
.img4{
  width: 195px;
  height: 150px;
  border-radius: 30px;
  opacity: 100%;

  &:hover{
    opacity: 50%;
    transition: opacity 2s;
  }
}

.inline-text{
  margin-inline: 0px;
  font-size: 12px;
}
.subheading{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 0;
}




/* --------Profile Modal Styling------- */
#profile-user-avatar{
  width: 100px;
  height: 100px;
}

#profile-img{
  width: 100px;
  height: 100px;
}

#favourites-map-img{
  width: 100px;
  height: 100px;
}

#my-maps-img{
  width: 100px;
  height: 100px;
}

#profile-user-footer{
  display: flex;
  flex-direction: row;
  // justify-content: center;
}

#user-profile-header{
  font-family: 'Abril Fatface', cursive;
  color: green;
  font-size: 30px;
}




/* --------Favourite Button Styling------- */
.imagewrap1,
.imagewrap2,
.imagewrap3,
.imagewrap4 {
  display: inline-block;
  position: relative;
}

.fav-button1,
.fav-button2,
.fav-button3,
.fav-button4 {
  position: absolute;
  left: 80%;
  top: -5px;
  border: solid 2px;
  border-color: green;
  padding: 8px 16px;
  border-radius: 2em;
  background-color: white;
  font-size: 14px;
  color: rgb(81, 93, 133);

  &.focus {
    background-color: white;
    color: rgb(255, 0, 0);
  }
}

/* --------Points List Styling------- */
#hide-points {
  padding: 8px 16px;
  background-color: transparent;
  border: transparent;
  border-radius: 1em;
  color: #5093bc;
  margin-left: -9px;
}

.points-list-container {
  background-color: transparent;
  border: transparent;
  border-radius: 1em;
  width: 300px;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-top: 10px;
}




/* --------Search Bar Styling------- */
.controls {
  background-color: #fff;
  border: none;
  box-shadow: none;
  height: 40px;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  border-radius: 20px;
  outline: none;
}

.controls:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.controls::placeholder {
  color: #bbb;
}

#pac-input {
  height: 30px;
  padding: 10px;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 10px;
  right: 10px;
  max-width: 400px;
}

.pac-container {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  max-height: 200px;
  overflow-y: auto;
  padding: 12px;
  z-index: 1000;
}

.pac-item {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px 0;
}

.pac-item:hover {
  background-color: #f2f2f2;
}

.pac-item-selected,
.pac-item-selected:hover {
  background-color: #e5e5e5;
}

.pac-icon {
  margin-right: 5px;
}


/* --------Profile Form Styling------- */

#profileModal .modal-body .row:first-child .col-md-4 {
  text-align: center;
}
#profileModal .modal-body .row:first-child .col-md-4 img {
  width: 100%;
}
#profileModal .modal-body .row:first-child .col-md-8 .row .col-md-12 {
  text-align: center;
  margin-top: 20px;
}
#profileModal .modal-body hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#profileModal .modal-body .row:last-child .col-md-6 h5 {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
#profileModal .modal-body .row:last-child .col-md-6 ul {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
}
#profileModal .modal-body .row:last-child .col-md-6 ul li a {
  color: #007bff;
  text-decoration: none;
}
#profileModal .modal-body .row:last-child .col-md-6 ul li a:hover {
  color: #0056b3;
  text-decoration: underline;
}
#profileModal .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  text-align: right;
}
#profileModal .modal-footer button {
  margin-left: 0.5rem;
}
#profileModal .modal-footer button:first-child {
  margin-left: 0;
}
#profileModal .modal-footer .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
#profileModal .modal-footer .btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
#profileModal .modal-footer .btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
#profileModal .modal-footer .btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.avatar {
  width: 175px;
  height: 175px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 50%;
}

.title {
  margin-top: 83px;
  margin-left: 20px;
  font-size: 40px;
  color: #333;
}

.subtitle {
  color: #333;
}

.green-btn {
  background-color: green !important;
}

.modal-heading {
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  text-align: center;
  color: green;
}

.blue-btn {
  background-color: rgb(47, 134, 210) !important;
  color: white;
}




/* --------Dark Mode Styling------- */
.dark-mode {
  background-color: rgb(64, 62, 62);
  color: white;
}

layout-container{
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 800px;
  font-family: 'Manrope', sans-serif;
  color: rgb(64, 62, 62);
}

// Fave buttons dark mode
.dark-mode {
  background-color: rgb(64, 62, 62);
  color: white;

.fav-button1,
.fav-button2,
.fav-button3,
.fav-button4 {
  position: absolute;
  left: 80%;
  top: -5px;
  border: solid 2px;
  border-color: green;
  padding: 8px 16px;
  border-radius: 2em;
  background-color: rgb(64, 62, 62);
  font-size: 14px;
  color: rgb(214, 209, 209);

  &.focus {
    background-color: rgb(64, 62, 62);
    color: rgb(255, 0, 0);
  }
}
}

// Profile Modal Dark Mode
.dark-mode {
  background-color: rgb(64, 62, 62);
  color: white;

  #profileModal .modal-body {
    background-color: rgb(64, 62, 62);
    color: white;
  }

  #profileModal .modal-footer {
    background-color: rgb(64, 62, 62);
    color: white;
  }
  .title {
    color: white;
  }

  .subtitle {
    color: white;
  }
}

// Create New Map Modal Dark Mode
.dark-mode {
  background-color: rgb(64, 62, 62);
  color: white;

  #exampleModal2 .modal-body {
    background-color: rgb(64, 62, 62);
    color: white;
  }

  #exampleModal2 .modal-footer {
    background-color: rgb(64, 62, 62);
    color: white;
  }

  #exampleModal2 .modal-header {
    background-color: rgb(64, 62, 62);
    color: white;
  }
  .title {
    color: white;
  }

  .subtitle {
    color: white;
  }
}



/* --------Map Info Div Styling------- */
#maps-wrapper{
  background-color: transparent;
  border: none;
  border-radius: 1em;
  width: auto;
  padding: 15px;
  margin-top: 10px;
}

.full-info{
  background-color: transparent;
  border: solid 3px #0076bd;
  border-radius: 1em;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;


  label{
    color: black;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #333;
  }

  ol{
    padding: 10px;
  }
}
