.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 100px;
  width: 100%;
}

.nav-logo {
  font-family: 'Abril Fatface', cursive;
  color: green;
  padding-left: 2%;
  font-size: 60px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 1;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-btn1,
.nav-btn2,
.nav-btn3 {
  border: none;
  background-color: #0076bd;
  color: #fff;
  cursor: pointer;
  transition: all 0.2 ease-in-out;

  &:hover {
    background-color: green;
  }
}

.i {
  color: black;
}

.nav-btn1 {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #0076bd;
  color: #333;
}

.nav-btn2 {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #0076bd;
  color: #333;
}

.nav-btn3 {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #0076bd;
  color: #333;
}

#map {
  height: 295px;
  width: 1100px;
  border-radius: 1em;
}

.map-main-container {
  background-color: f2f2ea;
  height: 325px;
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.newMap-btn {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.2 ease-in-out;
  display: flex;
  justify-content: right;
}

button{
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #0076bd;
  color: #333;
  &:hover {
    background-color: green;
  }
}

.whole-available-map{
  font-family: 'Abril Fatface', cursive;
}

.inline-text{
  margin-inline: 0px;
  font-size: 12px;
}

.subheading{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 0;
}

.available-map-container {
  background-color: transparent;
  border: solid 3px #0076bd;
  border-radius: 1em;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  padding: 10px;
  margin-top: 10px;
}

.first-map,
.second-map,
.third-map,
.fourth-map {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}
.first-map-picture,
.second-map-picture,
.third-map-picture,
.fourth-map-picture{
  font-weight: bold;
}


img{
  width: 190px;
  height: 150px;
  border-radius: 30px;
  opacity: 100%;

  &:hover{
    opacity: 50%;
    transition: opacity 2s;
  }
}


